{% extends 'base.html' %}

{% block title %}
  <title>Palestine in Northfield - Home</title>
{% endblock %}

{% block content %}
{% load static %}
<h1 class="text-4xl text-center font-bold pt-25">About Us</h1>
<img src="{% static 'assets/images/image1.JPG' %}" class="rounded-box max-h-100 mt-8 mx-4"/>
<h1 class="text-2xl text-center mt-8 font-bold px-4 mx-4"><b>Palestine in Northfield</b> (PIN) grew out of an identified need and desire to DO unemcumbered actions, SHARE what's happening anywhere in Northfield and nearby areas, SUPPORT each other's efforts, and AMPLIFY the work of each individual group (PIN, NJP/I, and Students for Justice in Palestine at St. Olaf College/Carleton College).</h1>
<img class="h-30 mt-8" src="{% static 'assets/images/palestine-flag.svg' %}">
<h1 class="text-2xl text-center mt-8 font-bold px-4 mx-4">Through our emails, the Instagram page, and this website, we seek to connect the Northfield Palestinian activist community and reduce isolated silos of initiatives. PIN is loosely, flexibly, and gently organized, spontaneous and nimble; PIN shares the work of other groups and also works independently. We invite you to come to our Sunday night zoom meetings. Please email us our use the contact form for more information.</h1>
<hr class="mt-8">
<h1 class="text-2xl text-center mt-4 px-4 mx-4"><b>We are:</b> An intergenerational community in Northfield united by passion for justice in Palestine<h1>
<h1 class="text-2xl text-center mt-4 px-4 mx-4"><b>We aspire to:</b> Provide communication between groups that exist in Northfield<h1>
<h1 class="text-2xl text-center mt-4 px-4 mx-4"><b>We aim to be:</b> Nimble, rapid in our response, with a foundation of thoughtful planning<h1>
<h1 class="text-2xl text-center mt-4 mb-20 px-4 mx-4"><b>We want to:</b> Be a way for people to find the opportunities for activism</h1>
{% endblock %}