<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/styles/output.css' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    {% block title %}
      <title>Palestine in Northfield</title>
    {% endblock %}
    <script>
      function getTheme() {
        const savedTheme = localStorage.getItem('theme') || 'light';
        document.querySelector('html').setAttribute('data-theme', savedTheme);
      }
      getTheme();
    </script>
  </head>
  <body class="flex flex-col relative">
    <div class="navbar bg-base-300 shadow-sm fixed">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-xl dropdown-content bg-base-300 rounded-box z-1 mt-3 w-52 p-2 shadow">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'resources' %}">Resources</a></li>
          </ul>
        </div>
        <img class="ml-2 mr-0 w-12 rounded-full" src="{% static 'assets/images/icon.png' %}">
        <a href="{% url 'index' %}" class="block md:hidden btn btn-ghost text-lg pl-2 pt-1">PIN</a>
        <a href="{% url 'index' %}" class="hidden md:block btn btn-ghost text-lg pl-2 pt-1">Palestine in Northfield</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 text-lg">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'resources' %}">Resources</a></li>
            </details>
          </li>
        </ul>
      </div>
      <div class="navbar-end">
        <label class="flex cursor-pointer gap-2 mt-1 mr-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <circle cx="12" cy="12" r="5" />
            <path d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
          </svg>
          <input type="checkbox" value="synthwave" class="toggle theme-controller" />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
        </label>
        <a href="{% url 'index' %}" class="btn">Home</a>
      </div>
    </div>
    {% block content %}

    {% endblock %}
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 fixed bottom-0">
      <aside>
        <p>Made in Northfield, Minnesota ❤️ Free Palestine 🇵🇸</p>
      </aside>
    </footer>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const themeController = document.querySelector('.theme-controller');
      const currentTheme = document.querySelector('html').getAttribute('data-theme');
      themeController.checked = currentTheme === 'dark';
      
      themeController.addEventListener('change', (event) => {
        if (event.target.checked) {
          document.querySelector('html').setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark');
        } else {
          document.querySelector('html').setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
        }
      })
    });
  </script>
</html>