<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/styles/output.css' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}">
    {% block title %}
      <title>Palestine in Northfield</title>
    {% endblock %}
  </head>
  <body class="flex flex-col">
    {% block content %}

    {% endblock %}
  </body>
</html>