{% extends 'base.html' %}

{% block title %}
  <title>Palestine in Northfield - Events</title>
{% endblock %}

{% block content %}
{% load static %}

<h1 class="text-4xl text-center font-bold pt-25">Upcoming Events</h1>

<h1 class="text-2xl text-center pt-25">Website currently being updated.</h1>

<hr class="w-3/4 self-center my-8">

<h1 class="text-4xl text-center font-bold pt-25">Recurring Events</h1>
<hr class="w-3/4 self-center my-8">

<div class="flex flex-col md:flex-row justify-center">
    <img class="m-4 w-9/10 md:w-1/4" src="{% static 'uploads/standing_for_palestine.png' %}">
    <div class="flex flex-col text-2xl ml-4 mt-4 w-9/10 md:w-3/7">
        <h2 class="font-bold mb-4">STANDING WITH PALESTINE: Palestinians Killed in Gaza</h2>
        <h2 class="font-bold mb-6">EVERY 2nd & 4th THURSDAY: 4:00 PM at Ames Park in Northfield</h2>
        <h2 class="text-xl mb-2">SPONSORED BY: Northfielders for Justice in Palestine/Israel</h2>
        <h2 class="text-xl mb-2">MORE INFO: info.njpmn@gmail.com</h2>
        <hr class="w-2/4 self-center my-6">
        <p>To feel that we are "doing something" helps us to cope with the dire situation in Gaza.  Join Northfielders as they gather at Ames Park to STAND IN SOLIDARITY with the people of Palestine - especially the starving people in Gaza.  Flags, signs, and banners are welcome.</p>
    </div>
</div>

<hr class="w-3/4 self-center my-8">

<h1 class="text-4xl text-center font-bold pt-25">Previous Events</h1>
<hr class="w-3/4 self-center my-8">

<div class="flex flex-col md:flex-row justify-center">
    <img class="m-4 w-8/10 md:w-1/4" src="{% static 'uploads/general.png' %}">
    <div class="flex flex-col text-2xl ml-4 mt-4 w-9/10 md:w-3/7">
        <h2 class="font-bold mb-4">Filmlab Palestine's <i>Palestine Cinema Days</i></h2>
        <h2 class="font-bold mb-6">November 1st through the 3rd</h2>
        <h2 class="text-xl mb-2">HOSTED BY: St. Olaf College - Students for Justice in Palestine</h2>
        <h2 class="text-xl">MORE INFO: <a class="text-blue-400 hover:text-blue-800" href="https://www.instagram.com/sjpstolafcollege/">Instagram Page</a></h2>
        <hr class="w-2/4 self-center my-6">
        <p>On November 2nd, the anniversary of the Balfour Declaration, Palestine Cinema Days organizes over 500 Palestinian film screenings around the world. This global effort is a show of solidarity with Palestine, an act of amplification for censored Palestinian voices, and a contribution to shifting the distorted narrative. <b>SJP at St. Olaf College is hosting screenings for four films. More information on the posters below!</b></p>
    </div>
</div>

<div class="flex flex-col md:flex-row justify-center">
    <img class="m-4 w-9/10 md:w-1/4" src="{% static 'uploads/chalk_poster.png' %}">
    <div class="flex flex-col text-2xl ml-4 mt-4 w-9/10 md:w-3/7">
        <h2 class="font-bold mb-4">CHALK THEIR NAMES: Children Killed in Gaza</h2>
        <h2 class="font-bold mb-6">LAST CHALKING: October 29th, 7:30 AM at Bridge Square in Northfield</h2>
        <h2 class="text-xl mb-2">SPONSORED BY: Palestine in Northfield</h2>
        <h2 class="text-xl">MORE INFO: palestineinnorthfield@gmail.com</h2>
        <hr class="w-2/4 self-center my-6">
        <p>Every Wednesday, Northfielders gather to chalk the names of children killed in Gaza.  Since October 7, 2023, Israeli attacks have killed more than 18,500 children in Gaza. Thousands more are missing under the rubble.</p>
    </div>
</div>

<div class="flex flex-col md:flex-row justify-center">
    <img class="m-4 w-9/10 md:w-3/10 h-70 md:h-100" src="{% static 'uploads/mepn.jpg' %}">
    <div class="flex flex-col text-2xl ml-4 mt-4 w-9/10 md:w-3/7">
        <h2 class="font-bold mb-4">Campaign to Repeal Minnesota's Anti-Boycott Laws</h2>
        <h2 class="font-bold mb-6">SATURDAY, SEPTEMBER 13: 10:00 AM via Zoom</h2>
        <h2 class="text-xl mb-2">SPONSORED BY: Middle East Peace Now</h2>
        <h2 class="text-xl">PRESENTERS: Mohammed Mayaleh and Angel Dobrow</h2>
        <h2 class="text-xl">MORE INFO & REGISTRATION: <a class="underline text-blue-500 hover:text-blue-300" target="_blank" href="https://mepn.org/events/september-13-webinar-campaign-to-repeal-minnesotas-anti-boycott-laws/">Click Here</a></h2>
        <hr class="w-2/4 self-center my-6">
        <p>In 2017, Minnesota joined 36 other states by introducing into law measures that require businesses and individuals who want to obtain a contract over $50,000 with the state of Minnesota to certify they do not and will not boycott the state of Israel. These anti-boycott laws directly violate our constitutionally protected right to free speech. These laws were formulated by ALEC (American Legislative Exchange Council), which crafts legislation to implement conservative and repressive goals.</p>
    </div>
</div>

<hr class="w-3/4 self-center my-8">

<div class="flex flex-col md:flex-row justify-center">
    <img class="m-4 w-9/10 md:w-3/10 h-110 md:h-140" src="{% static 'uploads/njpi_event2.jpeg' %}">
    <div class="flex flex-col text-2xl ml-4 mt-4 w-9/10 md:w-3/7">
        <h2 class="font-bold mb-4">Bells of Solidarity: A Wordless Prayer for Humanity in Gaza</h2>
        <h2 class="font-bold mb-6">TUESDAY, SEPTEMBER 16: 4:00 PM at Bridge Square in Northfield</h2>
        <h2 class="text-xl mb-2">SPONSORED BY: Palestine in Northfield & Northfielders for Justice in Palestine/Israel</h2>
        <h2 class="text-xl">MORE INFO: palestineinnorthfield@gmail.com, <a class="underline text-blue-500 hover:text-blue-300" href="https://www.southernminn.com/northfield_news/news/northfield-minnesota-gaza-bellringing-genocide/article_6c9723af-35e1-4f29-b91a-e7649df7783c.html" target="_blank">Northfield News Article</a></h2>
        <hr class="w-2/4 self-center my-6">
        <p>Churches in Northfield will simultaneously ring bells on September 16th as a Wordless Prayer for Humanity in Gaza. Organized by citizens of Northfield and supported by Palestine in Northfield and Northfielders for Justice in Palestine/Israel, we invite you to a collective listening of the ringing bells at 4:00 PM at Bridge Square, Northfield. Following a welcome, attendees will be invited to stand together in silence as church bells ring at 4:21 p.m.</p>
    </div>
</div>

<hr class="w-3/4 self-center my-8">

<div class="flex flex-col md:flex-row justify-center">
    <img class="m-4 w-9/10 md:w-3/10 h-110 md:h-140" src="{% static 'uploads/njpi_event1.jpg' %}">
    <div class="flex flex-col text-2xl ml-4 mt-4 w-9/10 md:w-3/7">
        <h2 class="font-bold mb-4">WHO PROFITS FROM THE WAR IN GAZA: A Reading from the UN Report</h2>
        <h2 class="font-bold mb-6">SUNDAY, SEPTEMBER 28: 2:00 PM at the Public Library in Northfield</h2>
        <h2 class="text-xl mb-2">SPONSORED BY: Northfielders for Justice in Palestine/Israel</h2>
        <h2 class="text-xl">MORE INFO: info.njpmn@gmail.com</h2>
        <hr class="w-2/4 self-center my-6">
        <p class="mb-4"><i>“Show me who makes a profit from war, and I'll show you how to stop the war”</i> -Henry Ford</p>
        <p class="mb-4">Who is profiting from the war in Gaza?</p>
        <p>To help answer that question, NJP/I invites you attend a presentation of the UN report by Francesca Albenese, "From Economy of Occupation to Economy of Genocide." on Sunday September 28, 2-4 p.m., in the Northfield Public Library. Francesca Albanese (b. 1977) is an Italian legal scholar and expert on human rights.  In May 2022 she was appointed the United Nations Special Rapporteur on the Occupied Palestinian Territories.</p>
    </div>
</div>

<hr class="w-3/4 self-center my-8 mb-16">

{% endblock %}