{% extends 'base.html' %}

{% block title %}
  <title>Palestine in Northfield - Home</title>
{% endblock %}

{% block content %}
<h1 class="text-4xl text-center m-10 font-bold ">Palestine in Northfield</h1>
{% load static %}
<img class="h-30" src="{% static 'assets/images/palestine-flag.svg' %}">
<h2 class="text-2xl text-center m-10 font-bold">For more information, please see the links below.</h2>
<div class="flex flex-col gap-4 items-center justify-center mb-20">
    <a class="text-2xl text-center font-bold bg-green-800 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://www.instagram.com/palestineinnorthfield/">Palestine in Northfield</a>
    <a class="text-2xl text-center font-bold bg-green-800 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://www.instagram.com/sjpcarletoncollege/">Carleton College SJP</a>
    <a class="text-2xl text-center font-bold bg-green-800 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://www.instagram.com/sjpstolafcollege/">St. Olaf College SJP</a>
</div>
{% endblock %}