{% extends 'base.html' %}

{% block title %}
  <title>Palestine in Northfield - Home</title>
{% endblock %}

{% block content %}
<div class="lg:flex lg:flex-row pt-20">
  <div class="hidden md:block fixed right-5 top-30 p-4 rounded-lg h-3/4 w-2/9 bg-green-800">
    <h2 class="text-3xl bold italic">Take action now!</h2>
    <h2 class="text-3xl bold italic">Links coming soon...</h2>
  </div>
  <div class="flex flex-col justify-center items-center md:w-3/4">
    <h1 class="text-5xl text-center m-8 font-bold ">Palestine in Northfield</h1>
    {% load static %}
    <img class="h-30" src="{% static 'assets/images/palestine-flag.svg' %}">
    <div class="flex flex-wrap items-center justify-center mt-8 mx-4 gap-4">
      <img src="{% static 'assets/images/image1.JPG' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/palestine2.JPG' %}" class="rounded-box max-h-120"/>
      <img src="{% static 'assets/images/palestine1.JPG' %}" class="rounded-box max-h-120"/>
      <img src="{% static 'assets/images/image2.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image3.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image4.jpeg' %}" class="rounded-box max-h-90"/>
      <img src="{% static 'assets/images/image5.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image6.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image7.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image8.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image9.jpeg' %}" class="rounded-box max-h-100"/>
      <img src="{% static 'assets/images/image10.jpg' %}" class="rounded-box max-h-100"/>
    </div>
    <h2 class="text-4xl text-center m-8 font-bold">For more information, please see the links below.</h2>
    <div class="flex flex-wrap gap-4 items-center justify-center mb-20">
      <a class="text-2xl text-center font-bold bg-green-800 hover:bg-green-400 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://www.instagram.com/palestineinnorthfield/">Palestine in Northfield</a>
      <a class="text-2xl text-center font-bold bg-green-800 hover:bg-green-400 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://njpmn.org/">Northfielders for Justice in Palestine</a>
      <a class="text-2xl text-center font-bold bg-green-800 hover:bg-green-400 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://www.instagram.com/sjpcarletoncollege/">Carleton College SJP</a>
      <a class="text-2xl text-center font-bold bg-green-800 hover:bg-green-400 w-3/5 p-6 rounded-lg mx-auto" target="_blank" href="https://www.instagram.com/sjpstolafcollege/">St. Olaf College SJP</a>
    </div>
  </div>
</div>
{% endblock %}