{% extends 'base.html' %}

{% block title %}
  <title>Palestine in Northfield - Home</title>
{% endblock %}

{% block content %}
<h1 class="text-4xl text-center font-bold pt-25">Resources</h1>
<div class="flex flex-col justify-center items-center mb-20">
  {% load static %}
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://decolonizepalestine.com/">Decolonize Palestine</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://corvallispalestine.org/">Corvallis Palestine Solidarity</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://njpmn.org/">Northfielders for Justince in Palestine/Israel</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.partnersforpalestine.org/">Partners for Palestine</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.mvprights.org/">Maine Voices for Palestinian Rights</a>
  <img class="h-30 mt-8 mb-4" src="{% static 'assets/images/palestine-flag.svg' %}">
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.uccmps.org/">UCC Movement for Palestinian Solidarity</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.kairosresponse.org/">United Methodist Kairos Response</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.elca.org/our-work/publicly-engaged-church/sumud">Sumud: For Justice in Palestine and Israel</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.nationalsjp.org/">National Students for Justice in Palestine</a>
  <a target="_blank" class="font-bold text-center text-2xl mt-4 rounded-lg w-9/10 md:w-3/4 mx-2 p-4 bg-green-900 hover:bg-green-700 text-white" href="https://www.delphr.org/">Delawareans for Palestinian Human Rights</a>
</div>
{% endblock %}